/dts-v1/;
/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "nemurust-unknown-dev";
	model = "nemurust-unknown";
	L15: cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <250000>;
		L4: cpu@0 {
			clock-frequency = <0>;
			compatible = "sifive,rocket0", "riscv";
			device_type = "cpu";
			mmu-type = "riscv,sv39";
			reg = <0x0>;
			riscv,isa = "rv64ima";
			riscv,pmpgranularity = <0>;
			riscv,pmpregions = <0>;
			status = "okay";
			timebase-frequency = <250000>;
			L2: interrupt-controller {
				#interrupt-cells = <1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};
	};
	L10: memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x10000000>;
	};
	L14: soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "freechips,rocketchip-unknown-soc", "simple-bus";
		ranges;
		L6: clint@2000000 {
			compatible = "riscv,clint0";
			interrupts-extended = <&L2 3 &L2 7>;
			reg = <0x2000000 0x10000>;
			reg-names = "control";
		};
		L0: subsystem_pbus_clock {
			#clock-cells = <0>;
			clock-frequency = <25000000>;
			clock-output-names = "subsystem_pbus_clock";
			compatible = "fixed-clock";
		};
		L100: uart@10000000 {
		    compatible = "ns16550";
		    reg = <0x10000000 0x100>;
		};
	};
};
